/* font section */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Azeret Mono", monospace;
}

/* color section */
header p {
    color: rgba(13, 19, 33, 0.7);
}

main p {
    color: rgba(13, 19, 33, 0.7)
}
footer p{
    color: rgba(13, 19, 33, 0.7);
}
.why-section-container h1{
    color: rgba(13, 19, 33, 0.7) ;
}

/* header section*/
.header-container {
    background-image: url('../assets/Hero-bg.png');
    max-width: 1920px;
    height: 652px;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: block;
    padding-top: 150px;
}

/* Button styles */
header button {
    width: 220px;
    height: 70px;
    background-color: rgb(13, 19, 33);
}

.scroll {
    text-decoration: none;
    color: white;
    font-size: 20px;


}

main button {
    width: 170px;
    height: 50px;
    border-radius: 8px;
    background-color: rgb(226, 220, 220);
    color: rgba(63, 59, 59, 0.911);
}

footer button {
    width: 120px;
    height: 40px;
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
    color: black;
}


/* Why section starts here */
.why-section-container {
    display: block;
    width: 1440px;
    height: 1600px;
    background-color: rgba(13, 19, 33, 0.02);
    margin-top: 150px;
    margin-left: 210px;
    padding-top: 100px;

}

.why-text-section {

    justify-content: center;
    align-items: center;
    display: block;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
}

.why-first-section-parent {
    padding-top: 100px;
    display: flex;
    padding-left: 100px;
    padding-right: 100px;
    gap: 50px;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    margin: 80px;


}

.why-second-section-parent {
    padding-top: 100px;
    display: flex;
    padding-left: 90px;
    padding-right: 100px;
    gap: 30px;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    margin: 80px;

}

.why-third-section-parent {
    padding-top: 100px;
    display: flex;
    padding-left: 100px;
    padding-right: 100px;
    gap: 50px;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    margin: 80px;


}

/* My inspiration starts here */
.my-inspiretion-section {
    margin-top: 200px;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    justify-items: center;
    padding-left: 200px;
    padding-right: 200px;

}

.my-inspiretion-texts {
    padding-right: 200px;
    padding-left: 200px;
}

/* my current target starts here */
.my-current-sction-container {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 100px;
    display: block;
    height: 700px;
    width: 1340px;
}

.my-current-section-texts {
    padding-left: 400px;

}

.my-current-section-cards {
    margin-top: 100px;
    display: flex;
    text-align: left;
    gap: 50px;
    justify-content: center;
    align-items: center;
    padding-left: 500px;
}

.card-1 {
    background-color: rgba(255, 76, 30, 0.05);
    width: 400px;
    height: 230px;
    padding: 20px;
}

.card-2 {
    background-color: rgba(0, 76, 232, 0.05);
    width: 400px;
    height: 230px;
    padding: 20px;
}

.card-3 {
    background-color: rgba(255, 223, 0, 0.05);
    width: 400px;
    height: 230px;
    padding: 20px;
}

/* my next target Section */
.my-next-target-section {
    display: block;
    margin-left: 150px;
    margin-right: 150px;


}

.next-texts {
    justify-content: center;
    align-items: center;
    text-align: center;

}

.next-cards-parent {
    margin-bottom: 100px;
    margin-top: 80px;
}

.react {
    justify-content: center;
    align-items: center;
    display: flex;
    border: 2px solid gray;
    border-radius: 20px;
    justify-content: space-around;
    margin-bottom: 50px;
    gap: 50px;
    padding: 20px;
}

.nodeJs {
    justify-content: center;
    align-items: center;
    display: flex;
    border: 2px solid gray;
    border-radius: 20px;
    justify-content: space-around;
    margin-bottom: 50px;
    gap: 50px;
    padding: 20px;
}

.mongoDb {
    justify-content: center;
    align-items: center;
    display: flex;
    border: 2px solid gray;
    border-radius: 20px;
    justify-content: space-around;
    margin-bottom: 50px;
    gap: 50px;
    padding: 20px;
}



/* Footer section */
.support-content {
    background-image: url('../assets/handshake.jpg');
    
    width: 1340px;
    height: 400px;
    display: block;
    padding-top: 200px;

    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 280px;
}

.input-area {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;
}

.last-links-sections {
    width: 1840px;
    height: 70px;
    display: flex;
    align-items: center;
    margin-top: 100px;
    justify-content: space-between;
    background-color: rgba(13, 19, 33, 0.03);



}

.place {
    border-radius: 10px;

}

.last-icons-container {
    padding-right: 150px;
}